<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Project</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/featured.css">
</head>

<body>
    <!-- header section -->
    <header class="container-fluid header-section">
        <!-- top header -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- left content -->
                    <div class="col-lg-6 header-top-left">
                        <div class="top-info">
                            <i class="fa fa-phone"></i>
                            (+91) 7767824255
                        </div>
                        <div class="top-info">
                            <i class="fa fa-envelope"></i>
                            siddharthsingh88505@gmail.com
                        </div>
                    </div>
                    <!-- right content -->
                    <div class="col-lg-6 text-lg-right header-top-right">
                        <div class="top-social">
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-pinterest"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <% if(verified) { %>
                            <% if(userType==="Agent" && !isAdmin ) { %>
                                <div class="user-panel">
                                    <a href="/logout"><i class="fa fa-sign-in"></i> &nbsp;Logout</a>
                                </div>
                                <% } else if(isAdmin) { %>
                                    <% if(verified) { %>
                                        <div class="user-panel">
                                            <a href="/logout"><i class="fa fa-sign-in"></i> &nbsp;Logout</a>
                                        </div>
                                        <% } else { %>
                                            <div class="user-panel">
                                                <a href="/login"><i class="fa fa-sign-in"></i> &nbsp;Login</a>
                                            </div>
                                            <% } %>
                                                <% } else { %>
                                                    <div class="user-panel">
                                                        <a href="/register-as-agent"><i class="fa fa-sign-in"></i>
                                                            &nbsp;Register as
                                                            Agent</a>
                                                        <a href="/logout"><i class="fa fa-sign-in"></i> &nbsp;Logout</a>
                                                    </div>
                                                    <% } %>
                                                        <% } else { %>
                                                            <div class="user-panel">
                                                                <a href="/register"><i
                                                                        class="fa-regular fa-user"></i>&nbsp;Register</a>
                                                                <a href="/login"><i class="fa fa-sign-in"></i>
                                                                    &nbsp;Login</a>
                                                            </div>
                                                            <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- main header -->
        <div class="container">
            <div class="main-header row">
                <div class="col-12">
                    <div class="site-navbar">
                        <a href="/" class="site-logo">REAL<span class="estate">ESTATE</span></a>
                        <!-- hamburger menu -->
                        <div class="nav-switch">
                            <i class="fa fa-bars"></i>
                        </div>
                        <!-- main menu -->
                        <ul class="main-menu">
                            <li><a href="/">HOME</a></li>
                            <% if(verified && (userType==="Agent" ) && !isAdmin) { %>
                                <li><a href="/upload-property">UPLOAD PROPERTY</a></li>
                                <% } %>
                                    <% if(verified && isAdmin) { %>
                                        <li><a href="/admin/dashboard">DASHBOARD</a></li>
                                        <% } %>
                                            <li><a href="/featured">FEATURED LISTING</a></li>
                                            <li><a href="/about">ABOUT US</a></li>
                                            <li><a href="/contact">CONTACT</a></li>
                                            <% if(verified && !isAdmin) {%>
                                                <li><a href="/chat">Chat</a></li>
                                                <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="togglebars container">
            <ul class="toggle-menu">
                <li><a href="/">HOME</a></li>
                <% if(verified && (userType==="Agent" ) && !isAdmin) { %>
                    <li><a href="/upload-property">UPLOAD PROPERTY</a></li>
                    <% } %>
                        <% if(verified && isAdmin) { %>
                            <li><a href="/admin/dashboard">DASHBOARD</a></li>
                            <% } %>
                                <li><a href="/featured">FEATURED LISTING</a></li>
                                <li><a href="/about">ABOUT US</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                                <% if(verified && !isAdmin) {%>
                                    <li><a href="/chat">Chat</a></li>
                                    <% } %>
            </ul>
        </div>
    </header>

    <!-- page top section -->
    <section class="page-top-section set-bg text-center">
        <div class="container text-white">
            <h2>Featured Listings</h2>
        </div>
    </section>

    <!-- breadcrumb -->
    <div class="site-breadcrumb">
        <div class="container">
            <a href="/"><i class="fa fa-home"></i>Home</a>
            <span><i class="fa fa-angle-right"></i> Featured Listing </span>
        </div>
    </div>

    <!-- page section -->
    <!-- featured listing section -->
    <section class="feature-section spad">
        <div class="container">
            <!-- row for cards (featured properties) -->
            <div class="row">
                <% featured.forEach((doc)=> { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-item">
                            <div class="feature-pic set-bg"
                                style="background-image: url('/images/<%= doc.images[0].id %>');">
                                <div class="sale-notic">FOR <%= doc.notic %>
                                </div>
                            </div>
                            <div class="feature-text">
                                <div class="text-center feature-title">
                                    <h5>
                                        <%= doc.name %>
                                    </h5>
                                    <p><i class="fa fa-map-marker"></i>
                                        <%= doc.location %>
                                    </p>
                                </div>
                                <div class="room-info-warp">
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-th-large"></i>
                                                <%= doc.area %> sq feet
                                            </p>
                                            <p><i class="fa fa-bed"></i>
                                                <%= doc.bedroom %> Bedroom
                                            </p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa-solid fa-hotel"></i>
                                                <%= doc.type %>
                                            </p>
                                            <p><i class="fa fa-bath"></i>
                                                <%= doc.bathroom %> Bathroom
                                            </p>
                                        </div>
                                    </div>
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-user"></i>
                                                <%= doc.owner %>
                                            </p>
                                        </div>
                                        <div class="rf-right">
                                            <% if((Date.now() - doc.date.getTime()) / (1000 * 3600 * 24) < 1) { %>
                                                <p><i class="fa-solid fa-clock-rotate-left"></i>
                                                    <% if(Math.trunc((Date.now() - doc.date.getTime()) / (1000 * 3600))<
                                                        1) { %>
                                                        <%= Math.trunc((Date.now() - doc.date.getTime()) / (1000 * 60))
                                                            %> minutes ago
                                                            <% } else if(Math.trunc((Date.now() - doc.date.getTime()) /
                                                                (1000 * 3600))===1) { %>
                                                                <%= Math.trunc((Date.now() - doc.date.getTime()) / (1000
                                                                    * 3600)) %>
                                                                    hour ago
                                                                    <% } else { %>
                                                                        <%= Math.trunc((Date.now() - doc.date.getTime())
                                                                            / (1000 * 3600)) %>
                                                                            hours ago
                                                                            <% } %>
                                                </p>
                                                <% } else { %>
                                                    <p><i class="fa-solid fa-clock-rotate-left"></i>
                                                        <% if(Math.trunc((Date.now() - doc.date.getTime()) / (1000 *
                                                            3600 * 24))===1 ) { %>
                                                            1 day ago
                                                            <% } else { %>
                                                                <%= Math.trunc((Date.now() - doc.date.getTime()) / (1000
                                                                    * 3600 * 24)) %> days ago
                                                                    <% } %>
                                                    </p>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                                <a href="/single-list?id=<%= doc._id %>&ref_id=<%= doc.ref_id %>"
                                    class="room-price">More Details</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <!-- pagination -->
            <div class="site-pagination">
                <% if(Math.ceil(count/10)===1) { %>
                    <a href="/featured/1" class="active">1</a>
                    <a href="/featured"><i class="fa fa-angle-right"></i></a>
                    <% } else { %>
                        <% for(let i=1 ; i< Math.ceil(count/10); i++) { %>
                            <a href="/featured/<%= i %>" class="<% if( active === i) { %>active<% } %>">i</a>
                            <% } %>
                                <a href="/featured/<%= Math.floor(count/10) %>"><i class="fa fa-angle-right"></i></a>
                                <% } %>

            </div>
        </div>
    </section>

    <!-- footer section -->
    <footer class="container-fluid footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-widget">
                    <a href="/" class="site-logo">REAL<span class="estate">ESTATE</span></a>
                    <p>This project is developed to buy and rent the property as well as know the rates of different
                        property. </p>
                    <div class="social">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-pinterest"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-widget">
                    <div class="contact-widget">
                        <h5 class="fw-title">CONTACT US</h5>
                        <p><i class="fa fa-map-marker"></i>401-209 Nallasopara,Maharashtra. </p>
                        <p><i class="fa fa-phone"></i>(+91) 7767824255</p>
                        <p><i class="fa fa-envelope"></i>siddharth@gmail.com</p>
                        <p><i class="fa fa-clock-o"></i>Mon - Sat, 10:00 AM - 06:00 PM</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-widget">
                    <div class="double-menu-widget">
                        <h5 class="fw-title">POPULAR PLACES</h5>
                        <ul>
                            <li><a href="">Florida</a></li>
                            <li><a href="">New York</a></li>
                            <li><a href="">Washington</a></li>
                            <li><a href="">Los Angeles</a></li>
                            <li><a href="">Chicago</a></li>
                        </ul>
                        <ul>
                            <li><a href="">St Louis</a></li>
                            <li><a href="">Jacksonville</a></li>
                            <li><a href="">San Jose</a></li>
                            <li><a href="">San Diego</a></li>
                            <li><a href="">Houston</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/featured">Featured Listing</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Custom JavaScript -->
    <script src="/js/index.js"></script>
</body>

</html>